rgb-c4c.json
[{"id":"f6ed062e.308928","type":"tab","label":"RGB Hunger Fighters","disabled":false,"info":""},{"id":"9ff3859f.bca9c8","type":"http in","z":"f6ed062e.308928","name":"About","url":"/about","method":"get","upload":false,"swaggerDoc":"","x":220,"y":260,"wires":[["79468e57.7d42d"]]},{"id":"79468e57.7d42d","type":"template","z":"f6ed062e.308928","name":"","field":"payload","fieldType":"msg","format":"html","syntax":"plain","template":"<div data-target=\"readme-toc.content\" class=\"Box-body px-5 pb-5\">\n          <article class=\"markdown-body entry-content container-lg\" itemprop=\"text\"><h1><a id=\"user-content-rgbzerohunger\" class=\"anchor\" aria-hidden=\"true\" href=\"#rgbzerohunger\"><svg class=\"octicon octicon-link\" viewBox=\"0 0 16 16\" version=\"1.1\" width=\"16\" height=\"16\" aria-hidden=\"true\"><path fill-rule=\"evenodd\" d=\"M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z\"></path></svg></a>RGBZeroHunger</h1>\n<p>2021 Call 4 Code global challenge</p>\n<p>Team leader:\nSelect one member of your team to enter the following information into the submission form. The team leader who submits the solution will receive an email confirming the submission details. While one team member submits the form, all team members are required to join the Call for Code community and accept the Participation Agreement as part of the registration process.</p>\n<p>Submission name: Zero Waste - Zero Hunger</p>\n<p>Confirm the name of your solution or team in approximately  five words.\nShort description: Share excess food with others</p>\n<p>Describe your team’s solution in  approximately ten words.\nLong description:</p>\n<p>In approximately 500 words, describe your solution in more detail. Include the real-world problem you identified, describe the technological solution you have created, and explain how it’s an improvement over existing solutions. You can supply additional documentation in your source code repository link below.\nSolution roadmap:</p>\n<p>The real world problem we are attempting to mitigate is food waste. A</p>\n<p>Create a document or image that shows how mature your solution is today and how you would like to improve it in the future. This can include information on the business model, funding needs, and a sustainability plan. Here’s an example from the 2018 Call for Code winner Project Owl.\nLink to publicly accessible GitHub repository:\n(or other location such as GitLab or Box) where the judges can download, examine, and evaluate the source code behind the solution. You can provide additional description and diagrams in the repository. Hint: Review the judging criteria and rules for the 2021 Call for Code Global Challenge. Also, be sure to explore this project sample.</p>\n</article>\n        </div>","output":"str","x":430,"y":260,"wires":[["e1df000e.f312"]]},{"id":"e1df000e.f312","type":"http response","z":"f6ed062e.308928","name":"","statusCode":"","headers":{},"x":680,"y":280,"wires":[]},{"id":"bd65ef61.f5121","type":"http in","z":"f6ed062e.308928","name":"Root","url":"/","method":"get","upload":false,"swaggerDoc":"","x":70,"y":740,"wires":[["4c07d357.26233c","c3d047af.dcf838"]]},{"id":"b71588e5.d6e818","type":"cloudant out","z":"f6ed062e.308928","name":"InsertSMS","cloudant":"","database":"rgbc4cdb","service":"rgb-c4c-node-red-202-cloudant-1626475615125-50530","payonly":true,"operation":"insert","x":1110,"y":160,"wires":[]},{"id":"621f6d35.4655a4","type":"http in","z":"f6ed062e.308928","name":"twilio-in","url":"sms","method":"post","upload":false,"swaggerDoc":"","x":90,"y":360,"wires":[["c02e21b2.cf934","8a1e967a.7acef8"]]},{"id":"fd16de02.52fd1","type":"http response","z":"f6ed062e.308928","name":"","statusCode":"200","headers":{},"x":1020,"y":560,"wires":[]},{"id":"442e8a7f.234754","type":"debug","z":"f6ed062e.308928","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1130,"y":340,"wires":[]},{"id":"c02e21b2.cf934","type":"change","z":"f6ed062e.308928","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"payload.MediaUrl0","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":520,"wires":[["2c73fbaa.ef8ad4","5f3a716.cee2c9"]]},{"id":"5f3a716.cee2c9","type":"http request","z":"f6ed062e.308928","name":"","method":"GET","ret":"bin","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":500,"wires":[["8a1e967a.7acef8"]]},{"id":"7bede9de.569c48","type":"inject","z":"f6ed062e.308928","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"ToCountry\":\"CA\",\"MediaContentType0\":\"image/jpeg\",\"ToState\":\"Quebec\",\"SmsMessageSid\":\"MM56027f29da059a03f56bdb770785f4fd\",\"NumMedia\":\"1\",\"ToCity\":\"\",\"FromZip\":\"\",\"SmsSid\":\"MM56027f29da059a03f56bdb770785f4fd\",\"FromState\":\"QC\",\"SmsStatus\":\"received\",\"FromCity\":\"MONTREAL\",\"Body\":\"Haha\",\"FromCountry\":\"CA\",\"To\":\"+14387956247\",\"MessagingServiceSid\":\"MG7281683815cf808767efb283510ffa27\",\"ToZip\":\"\",\"NumSegments\":\"1\",\"MessageSid\":\"MM56027f29da059a03f56bdb770785f4fd\",\"AccountSid\":\"ACfe743f9d3fcc966c20b90964abba3f54\",\"From\":\"+15148134599\",\"MediaUrl0\":\"https://api.twilio.com/2010-04-01/Accounts/ACfe743f9d3fcc966c20b90964abba3f54/Messages/MM56027f29da059a03f56bdb770785f4fd/Media/ME556a6d6401150e1b82fe8e766746fc8d\",\"ApiVersion\":\"2010-04-01\"}","payloadType":"json","x":90,"y":520,"wires":[["c02e21b2.cf934","8a1e967a.7acef8","1e87dff5.b1531"]]},{"id":"2c73fbaa.ef8ad4","type":"debug","z":"f6ed062e.308928","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"url","targetType":"msg","statusVal":"","statusType":"auto","x":500,"y":560,"wires":[]},{"id":"8a1e967a.7acef8","type":"join","z":"f6ed062e.308928","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":710,"y":420,"wires":[["96095db0.b24c5","8c0ce80.5386d18"]]},{"id":"96095db0.b24c5","type":"debug","z":"f6ed062e.308928","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":990,"y":440,"wires":[]},{"id":"1e87dff5.b1531","type":"debug","z":"f6ed062e.308928","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":380,"y":440,"wires":[]},{"id":"8c0ce80.5386d18","type":"function","z":"f6ed062e.308928","name":"","func":"if(msg.payload != undefined)\n{\n    if(Array.isArray(msg.payload))\n    {\n        msg.payload[0].ImageClassification = \"\";\n        //msg.payload[0].ImageClassification = msg.payload[1];\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":920,"y":360,"wires":[["f7c72522.2a0db8"]]},{"id":"f7c72522.2a0db8","type":"change","z":"f6ed062e.308928","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1070,"y":260,"wires":[["442e8a7f.234754","b71588e5.d6e818"]]},{"id":"87eaa934.633798","type":"cloudant in","z":"f6ed062e.308928","name":"GetSMS","cloudant":"","database":"rgbc4cdb","service":"rgb-c4c-node-red-202-cloudant-1626475615125-50530","search":"_all_","design":"","index":"","x":440,"y":620,"wires":[["f5cf130c.6b924","93110fd0.6ccc6"]]},{"id":"4c07d357.26233c","type":"http response","z":"f6ed062e.308928","name":"","statusCode":"302","headers":{"location":"/uibuilder"},"x":250,"y":740,"wires":[]},{"id":"b1f9db32.5e5248","type":"inject","z":"f6ed062e.308928","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{}","payloadType":"json","x":110,"y":580,"wires":[["87eaa934.633798"]]},{"id":"f5cf130c.6b924","type":"debug","z":"f6ed062e.308928","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":720,"y":740,"wires":[]},{"id":"c3d047af.dcf838","type":"change","z":"f6ed062e.308928","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":660,"wires":[["87eaa934.633798","24de339d.ffe3cc"]]},{"id":"93110fd0.6ccc6","type":"uibuilder","z":"f6ed062e.308928","name":"","topic":"","url":"uibuilder","fwdInMessages":false,"allowScripts":false,"allowStyles":false,"copyIndex":true,"templateFolder":"blank","extTemplate":"","showfolder":false,"useSecurity":false,"sessionLength":432000,"tokenAutoExtend":false,"reload":false,"sourceFolder":"src","x":730,"y":640,"wires":[["fd16de02.52fd1"],[]]},{"id":"24de339d.ffe3cc","type":"debug","z":"f6ed062e.308928","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":480,"y":780,"wires":[]}]